<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Data\Form\FormKey\Validator" type="Khoazero123\DevFix\Data\Form\FormKey\Validator" />

    <type name="Magento\Framework\Console\CommandList">
      <arguments>
        <argument name="commands" xsi:type="array">
          <item name="kzUpdateConfigCommand" xsi:type="object">Khoazero123\DevFix\Console\Command\UpdateConfigCommand</item>
        </argument>
      </arguments>
    </type>
</config>
